body {
  background: #000;
  margin: 0;
}

canvas {
  image-rendering: pixelated;
  /* https://css-tricks.com/almanac/properties/i/image-rendering/ */
  height: 100%;
  width: 75%;
  display: block;
  margin: 0 auto;
}

#ai {
  display: block;
  margin: 0 auto;
}