body {
  background: #000;
  margin: 0;
}

canvas {
  image-rendering: pixelated;
  /* https://css-tricks.com/almanac/properties/i/image-rendering/ */
  height: 100%;
  width: 75%;
  display: block;
  margin: 0 auto;
}

#ai {
  display: block;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  background: #ff0000;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  min-width: 150px;
}